@import "./variables";

// improt fonts

@font-face { 
  font-family: 'shoppies';
  src: url('../fonts/SFUIText-Regular.woff')  format('woff')
}

@font-face {
  font-family: 'shoppies-light';
  src: url('../fonts/SFUIText-Light.woff')  format('woff')
}

@font-face {
  font-family: 'shoppies-bold';
  src: url('../fonts/SFUIText-Bold.woff')  format('woff')
}


* {
  font-family: 'shoppies';
}

html, body, #root, .app {
  height: 100%;
}

body {
  background-color: $black;
  color: $white;
  margin: 0;
  overflow-x: hidden;
}

#position-fixed {
  position: fixed;
}

