@import "./variables";

// improt fonts

@font-face {
  font-family: "shoppies";
  src: url("../fonts/SFUIText-Regular.woff") format("woff");
}


* {
  font-family: "shoppies";
}

html,
body,
#root,
.App {
  min-height: 100vh;
}

body {
  background-color: $black;
  color: $white;
  margin: 0;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

#no-scroll {
  @media screen and (max-width: 768px) {
    position: fixed;
    left: 0;
    right: 0;
  }
}
