@import "config";
@import "variables";

/*

Styling for main component

*/

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .movies {
    display: flex;
    justify-content: space-between;

    .banner {
      display: flex;
      background: url("../img/celebrate.gif");
      padding: 1rem 0;
      margin: 2rem 0;
      font-size: 1.2rem;

      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
      }
    }

    &__section--listings {
      width: 100%;
      padding: 1rem 4%;

      @media screen and (min-width: 768px) {
        flex-grow: 1;
        border-right: 1px solid $outlinedark;
      }

      form {
        margin-bottom: 2rem;
      }

      label {
        display: flex;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
        border: 1px solid $outlinemedium;
      }

      i {
        color: #adadad;
        margin-right: 1rem;
      }

      input {
        flex-grow: 1;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        color: $white;
      }
    }

    .stats {
      margin-bottom: 2rem;

      span {
        color: $primary;
      }
    }

    &__section__listing {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__section--nominations {
      position: fixed;
      height: calc(100vh - 6rem);
      overflow-y: auto;
      left: 0;
      background-color: $black;
      width: 100%;
      min-height: 100%;
      padding: 1rem 4% 10rem;
      transform: translateX(101vw);
      box-sizing: border-box;

      @media screen and (min-width: 768px) {
        width: 40%;
        position: static;
        height: auto;
      }

      &__title {
        margin-bottom: 2rem;
      }

      &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;

        i {
          font-size: 10rem;
          opacity: 0.5;
          color: $outlinedark;
        }

        p {
          color: lighten($color: $outlinedark, $amount: 5);
          text-align: center;
        }
      }
    }

    &__section--nominations--show {
      transform: translateX(0);
      transition: all 0.5s linear;

      @media screen and (min-width: 768px) {
        transform: translateX(0);
        width: 40%;
        background: transparent;
        transition: width 0.2s linear;

        transition: none;
      }
    }

    &__section--nominations--hide {
      transform: translateX(101vw);
      transition: transform 0.5s linear;

      @media screen and (min-width: 768px) {
        transform: translateX(0);
        // width: 0;
        // padding: 0;
        // transition: width 0.2s linear;
        background-color: transparent;

        transition: none;
      }
    }
  }
}
