@import "../../assets/scss/variables.scss";

.nomination-card {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 3rem;

  &__image {
    width: 30%;
  }

  &__details {
    width: 68%;

    &__title {
      margin-top: 0;
    }
  }

  .nominate-button {
    background-color: transparent;
    border: 1px solid lighten($color: $outlinemedium, $amount: 5);

    &:hover {
      border-color: $red;
      transition: all 0.1s linear;
    }
  }
}