@import "../../assets/scss/variables";

// Styling for site header 

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  margin: 0 4%;
  border-bottom: 1px solid $outlinedark;

  .logo {
    margin: 0;
    display: flex;
  }

  .logo__anchor {
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icons__single {
    all: unset;
    display: flex;
    align-items: center;
    color: $primary;
    cursor: pointer;

    i {
      font-size: 1.8rem;
    }
  }

  @media screen and (min-width: 768px) {
    .icons_single--nominations-toggle {
      display: none
    }
  }
}