@import "../../assets/scss/variables";

//styling for movie component

.movie-card {
  display: flex;
  flex-direction: column;
  color: $white;
  width: 46%;
  margin-bottom: 2.5rem;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    width: 31%;
  }

  &__image {
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  .__details {
    &__title {
      margin: 1rem 0 0.5rem;
      font-weight: 500;
      padding: 2%;
      -webkit-text-stroke: 0.4px $primary;
    }

    &__release-year {
      margin: 0.2rem 0;
      font-size: 0.9rem;
      padding: 2%;

      i {
        color: $primary;
      }
    }
  }

  .nominate-button {
    width: 100%;
    margin: 1rem 0 0;
    background: darken($color: $primary, $amount: 5);
    color: $white;
    text-transform: uppercase;
    border: none;
    padding: 0.7rem 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 0.7rem;
    overflow: hidden;
    position: relative;
    transition: background 0.2s linear;
    cursor: pointer;

    i {
      color: $white;
      font-size: 1rem;
      margin-left: 0.5rem;
    }
  }

  .nominate-button.movie-btn {
    &:hover {
      @media screen and (min-width: 768px) {
        animation: up 0.5s 1;

        @keyframes up {
          50% {
            transform: translateY(5px);
          }

          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: $outlinedark;
    border-color: $outlinedark;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -36px;
      left: -100px;
      background: white;
      width: 50px;
      height: 125px;
      opacity: 20%;
      transform: rotate(-45deg);
      transition: left 1s cubic-bezier(0.3, 1, 0.2, 1);
    }

    &:hover:after {
      left: 120%;
      transition: all 1s cubic-bezier(0.3, 1, 0.2, 1);
      -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.2, 1);
    }
  }

  .limit-maxed {
    background-color: darken($color: $primary, $amount: 30);
  }
}
