

@font-face {
  font-family: 'shoppies';
  src: url('./assets/fonts/SFUIText-Regular.woff')  format('woff')
}

@font-face {
  font-family: 'shoppies-light';
  src: url('./assets/fonts/SFUIText-Light.woff')  format('woff')
}

@font-face {
  font-family: 'shoppies-bold';
  src: url('./assets/fonts/SFUIText-Bold.woff')  format('woff')
}



* {
  font-family: 'shoppies';
}

h1 {
  font-family: 'shoppies';
}