

@font-face { 
  font-family: 'shoppies';
  src: url('./assets/fonts/SFUIText-Regular.woff')  format('woff')
}

@font-face {
  font-family: 'shoppies-light';
  src: url('./assets/fonts/SFUIText-Light.woff')  format('woff')
}

@font-face {
  font-family: 'shoppies-bold';
  src: url('./assets/fonts/SFUIText-Bold.woff')  format('woff')
}



* {
  font-family: 'shoppies';
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}
